.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {}

.comment,
.comment-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.comment-author-info {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align:middle;
}

.comment-meta .avatar {
	float: left;
	margin-right: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.comment-author cite {
	font-style: normal;
	font-weight: bold;
}

.entry-meta.comment-metadata {
	margin-top: 0;
}

.comment-content {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.comment-respond {
	margin-top: 1.5em;
}
.comment-form > .form-submit {
	margin-bottom: 0;
}

.comment-form input,
.comment-form-comment {
	margin-bottom: 10px;
}

.comment-form #author,
.comment-form #email,
.comment-form #url {
	display: block;
}

.comment-metadata .edit-link:before {
	display: none;
}

.comment-body {
	padding: 30px 0;
}

.comment-content {
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.depth-1.parent > .children {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.comment .children {
	padding-left: 30px;
	margin-top: -30px;
	border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.pingback .comment-body,
.trackback .comment-body {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.pingback .edit-link {
	font-size: 13px;
}

.comment-content p:last-child {
	margin-bottom: 0;
}

.comment-list > .comment:first-child {
	padding-top:0;
	margin-top:0;
	border-top: 0;
}

ol.comment-list {
	margin-bottom: 1.5em;
}

.reply {

}

.bypostauthor {
	display: inline;
}

.comment-reply-link {
	display: inline-block;
	background: $link-color;
	color: #fff;
	padding: 7px 15px;
}
