//======================================================================
// Breakpoint
//======================================================================
$breakpoint-up: (
	'sp': 'screen and (min-width: 768px)',
	'tb': 'screen and (min-width: 992px)',
	'pc': 'screen and (min-width: 1200px)',
) !default;

$breakpoint-down: (
	'sp': 'screen and (max-width: 767px)',
	'tb': 'screen and (max-width: 991px)',
	'pc': 'screen and (max-width: 1199px)',
) !default;

//
// It's means sign below
// -------------------------
// sp : smartphone
// tb : tablet
// pc : Personal Computer
// -------------------------
//


@mixin mq-up($breakpoint: lg) {
	@media #{map-get($breakpoint-up, $breakpoint)}{
		@content;
	}
}

@mixin mq-down($breakpoint: lg) {
	@media #{map-get($breakpoint-down, $breakpoint)}{
		@content;
	}
}

//======================================================================
// Size
//======================================================================
$page-width-lg:   1170px !default;
$page-width-pc-tb: 970px !default;
$page-width-tb-sp: 750px !default;
$page-width-sp:    100% !default;
