.pagination {
	clear: both;
	margin: 50px 0;
}

.nav-links {
	text-align: center;
}

.page-numbers {
	display: inline-block;
	padding: 7px;
	line-height: 1;
	&.current {
		background: $brand-primary;
		color: #fff;
	}
}
