//======================================================================
// Layout
//======================================================================
$large-page-width: 1260px;
$regular-page-width: 940px;
$tablet-page-width: 720px;

$sidebar-width: 336px;
$bitween-sidebar-content-margin: 40px;

$large-content-width: $large-page-width - ( $sidebar-width + $bitween-sidebar-content-margin );
$regular-content-width: $regular-page-width - ( $sidebar-width + $bitween-sidebar-content-margin );