.widget {
	margin: 0 0 30px;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/* Categories widget */
.widget_categories .children {
    margin-left: 1.5em;
	padding-top: 5px;
}
.widget_categories .children li:last-child {
	padding-bottom: 0;
}
