@charset "UTF-8";
//======================================================================
// Import files
//======================================================================
@import "variables";
@import "mediaquery";


/*--------------------------------------------------------------
	reset
--------------------------------------------------------------*/
//@import "reset/normalize";
@import "reset/reset";
//@import "reset/sanitize";

/*--------------------------------------------------------------
	form reset
--------------------------------------------------------------*/
@import "reset/input";

/*--------------------------------------------------------------
	Base
--------------------------------------------------------------*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.7;
	color: #000;
	text-align: left;
	background-color: #fff;
}
