//======================================================================
// Brand Color
//======================================================================
$brand-color: #1e4663;
$brand-wine-red: #702E2D;
$brand-blue: #2375B0;
$brand-yellow: #96961E;
$brand-lightyellow: #B0B02C;

//======================================================================
// Based Color
//======================================================================
$text-color: #333333;
$link-color: $brand-blue; //#0D7ED4;

$gray-lightest: lighten( $text-color, 77% );
$gray-lighter:  lighten( $text-color, 70% );
$gray-light:    lighten( $text-color, 50% );
$gray:          lighten( $text-color, 30% );
$gray-dark:     lighten( $text-color, 20% );
$gray-darker:   lighten( $text-color, 10% );
$gray-darkest:  lighten( $text-color, 5%  )