@charset "UTF-8";
/*
@mixin content-styling(){

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1.3;
}

h1 {
	font-size: 28px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}

p {
	font-size: 16px;
	line-height: 1.7;
	margin-bottom: 2em;
}

blockquote {
	background: #f4f4f4;
	padding: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	p {
		font-size: 14px;
		font-style: italic;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

table {
	margin-bottom: 2em;
	thead {
		background: #f4f4f4;
		tr {
			th {
				padding: 7px;
			}
		}
	}
	tbody {
		tr {
			th {
				padding: 7px;
			}
			td {
				padding: 7px;
			}
		}
	}
}

dl {
	margin-bottom: 2em;
	dt {
		font-weight: bold;
		margin-bottom: 5px;
		line-height: 1.2;
	}
	dd {
		padding-left: 1em;
		margin-bottom: 1em;
		line-height: 1.2;
	}
}

ul {
	list-style: disc;
	padding-left: 30px;
	li {
		line-height: 1.3;
		ul {
			margin-bottom: 10px;
		}
	}
}

ol {
	list-style: decimal;
	padding-left: 30px;
	li {
		line-height: 1.3;
		ol {
			margin-bottom: 10px;
		}
	}
}

pre {
	background: #f4f4f4;
	font-family: "Courier 10 Pitch", Courier, monospace;
	padding: 10px;
	overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  overflow: auto;
}

div {
	max-width: 100%;
}
img {
	max-width: 100%;
}
.alignleft {
	float: left;
	margin-right: 10px;
}
.alignright {
	float: right;
	margin-left: 10px;
}
.aligncenter {
	margin: 0 auto;
}
.wp-caption-text {
	font-size: 12px;
}

@media(max-width:768px){

img,
div {
	max-width: 100%;
}

}


}
*/
/*
Theme Name: OleinPress
Theme URI: demo.olein-design.com/oleinpress/
Author: Koji Kuno
Author URI: http://olein-design.com
Description: 
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: oleinpress

*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0  Reset
2.0  Basic Document Setting
3.0  Layout
4.0  Structure
5.0  Contents
6.0  Elements
7.0  Widgets
8.0  Sections
9.0  External Plugins

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# 1.0 Reset
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------------------------
# 1.1 Reset for input
--------------------------------------------------------------*/
input,
button,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*--------------------------------------------------------------
# 2.0 Basic Document Setting
--------------------------------------------------------------*/
/*------------------------------
	2.1 Common
------------------------------*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
}

body {
  font-size: 62.5%;
  color: #333333;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site {
  background: #ffffff;
  position: relative;
  font-size: 1.4rem;
  font-size: 14px;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

pre,
code,
input,
textarea {
  font: inherit;
}

::-moz-selection {
  background: #2375B0;
  color: white;
}

::selection {
  background: #2375B0;
  color: white;
}

/*------------------------------
	2.2 Links
------------------------------*/
a {
  color: #2375B0;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
  color: #333333;
}

a:active, a:focus, a:hover {
  outline: none;
}

/*------------------------------
	2.3 Accessbility
------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f8f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  clip: auto !important;
  color: #03c4eb;
  display: block;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 17px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/*------------------------------
	2.4 Alignments
------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 15px;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 15px;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------
	2.5 Clearings
------------------------------*/
.navigation {
  clear: both;
}

/*--------------------------------------------------------------
	3.0 Layout
--------------------------------------------------------------*/
.content-area {
  width: 884px;
  margin: 40px 0;
  padding: 40px;
  margin-right: 40px;
  border: 1px solid #f7f7f7;
}

.sidebar {
  width: 336px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  width: 1260px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.container_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------------------------------------------------
	4.0 Structure
--------------------------------------------------------------*/
/* Header
------------------------------*/
.site-header-bar {
  background: #f7f7f7;
  padding: 2px 0;
}

.site-header-bar__inner {
  text-align: right;
}

.site-header-bar-menu li {
  display: inline-block;
}

.site-header-bar-menu li > a {
  display: inline-block;
  background: #1e4663;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border: 2px solid #1e4663;
}

.site-header-bar-menu li > a:hover {
  background: white;
  color: #1e4663;
}

.site-header {
  line-height: 125px;
  background: #1e4663;
  width: 100%;
}

.site-header:after {
  content: "";
  clear: both;
  display: block;
}

.site-header__branding {
  float: left;
}

.site-title {
  font-size: 3.2rem;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.site-title a {
  color: white;
}

.site-title a:hover {
  text-decoration: none;
  opacity: .8;
}

.oleinpress-menu {
  margin: 25px 0;
  float: right;
  max-width: 900px;
}

.oleinpress-menu li {
  float: left;
  display: inline-block;
}

.oleinpress-menu li a {
  line-height: 75px;
  display: block;
  font-size: 14px;
  padding-right: 25px;
  padding-left: 25px;
  color: white;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.oleinpress-menu li a:hover {
  background: #245477;
  text-decoration: none;
}

.oleinpress-menu li.active {
  background: #2a628a;
}

.oleinpress-menu .menu-item-has-children {
  position: relative;
}

.oleinpress-menu .menu-item-has-children ul.sub-menu {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 100;
}

.oleinpress-menu .menu-item-has-children ul.sub-menu li {
  background: #2a628a;
  white-space: nowrap;
  width: 100%;
  border-left: 1px solid #245477;
  border-top: 1px solid #245477;
  border-right: 1px solid #245477;
}

.oleinpress-menu .menu-item-has-children ul.sub-menu li:last-child {
  border-bottom: 1px solid #1e4663;
}

.oleinpress-menu .menu-item-has-children ul.sub-menu li a {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 3em;
}

.oleinpress-menu .menu-item-has-children ul.sub-menu li a:hover {
  text-decoration: none;
}

/* Content
------------------------------*/
.site-content {
  background: #fff;
}

/* Footer
------------------------------*/
.site-footer {
  border-top: 1px solid #e6e6e6;
}

.site-footer .container {
  padding: 50px 0;
}

.site-footer-leftbox, .site-footer-rightbox {
  float: left;
  width: 30%;
}

.site-footer-leftbox {
  margin-left: 15%;
  margin-right: 5%;
}

.site-footer-rightbox {
  margin-left: 5%;
  margin-right: 15%;
}

.site-footer .copyright {
  clear: both;
  border-top: 1px solid #e6e6e6;
}

.site-footer .copyright p {
  text-align: center;
  font-size: 12px;
  padding: 7px 0;
}

/*--------------------------------------------------------------
	5.0 Contents
--------------------------------------------------------------*/
/* Page: 404
------------------------------*/
/* Page: Search
------------------------------*/
/* Index
------------------------------*/
/*
.content-area_masonry {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 300px;
	.list-item {
		width: 33.3%;
		transition: .5s;
	}
}
*/
/* Entry
------------------------------*/
.single .post {
  margin-bottom: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.single .entry-header {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.single .entry-title {
  font-size: 26px;
}

.single .entry-thumbnail {
  margin-right: 0;
  margin-bottom: 30px;
}

.single .entry-thumbnail img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.single .entry-content {
  /*------------------------------
		Heading
	------------------------------*/
  /*------------------------------
		Base
	------------------------------*/
  /*
	ul,
	ol,
	dl,
	p,
	/*details,
	address,
	.vcard,
	figure,
	pre,
	fieldset,
	table,
	dt,
	dd,
	hr {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	*/
  /*------------------------------
		Content
	------------------------------*/
  /*------------------------------
		Table
	------------------------------*/
  /*------------------------------
		Form
	------------------------------*/
}

.single .entry-content h1,
.single .entry-content h2,
.single .entry-content h3,
.single .entry-content h4,
.single .entry-content h5,
.single .entry-content h6 {
  clear: both;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #333333;
  line-height: 1.3;
}

.single .entry-content h1 a,
.single .entry-content h2 a,
.single .entry-content h3 a,
.single .entry-content h4 a,
.single .entry-content h5 a,
.single .entry-content h6 a {
  color: #333333;
  text-decoration: none;
}

.single .entry-content h1 {
  font-size: 3.0rem;
  font-size: 30px;
}

.single .entry-content h2 {
  font-size: 2.4rem;
  font-size: 24px;
}

.single .entry-content h3 {
  font-size: 2.0rem;
  font-size: 20px;
}

.single .entry-content h4 {
  font-size: 1.8rem;
  font-size: 18px;
}

.single .entry-content h5 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-size: 16px;
}

.single .entry-content h6 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-size: 14px;
}

.single .entry-content p {
  line-height: 1.7;
  margin-bottom: 2em;
}

.single .entry-content img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.single .entry-content b,
.single .entry-content strong {
  font-weight: bold;
}

.single .entry-content blockquote {
  background: #f4f4f4;
  padding: 1rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.single .entry-content blockquote p {
  font-size: 1.4rem;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
}

.single .entry-content blockquote p:last-child {
  margin-bottom: 0;
}

.single .entry-content blockquote cite {
  font-style: normal;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-size: 13px;
}

.single .entry-content dfn,
.single .entry-content cite,
.single .entry-content em,
.single .entry-content i {
  font-style: italic;
}

.single .entry-content address {
  margin: 20px 0;
}

.single .entry-content hr {
  border: 0;
  border-top: 1px solid #e9e9e9;
  height: 1px;
  margin-bottom: 20px;
}

.single .entry-content tt,
.single .entry-content kbd,
.single .entry-content pre,
.single .entry-content code,
.single .entry-content samp,
.single .entry-content var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  background-color: #e9e9e9;
  padding: 3px 7px;
  border-radius: 2px;
}

.single .entry-content pre {
  background: #f4f4f4;
  font-family: "Courier 10 Pitch", Courier, monospace;
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  overflow: auto;
  line-height: 1.3;
}

.single .entry-content details summary {
  font-weight: bold;
  margin-bottom: 20px;
}

.single .entry-content details:focus {
  outline: none;
}

.single .entry-content abbr,
.single .entry-content acronym,
.single .entry-content dfn {
  cursor: help;
  font-size: .95em;
  text-transform: uppercase;
  border-bottom: 1px dotted #e9e9e9;
  letter-spacing: 1px;
}

.single .entry-content mark {
  background-color: #2375B0;
  text-decoration: none;
}

.single .entry-content small {
  font-size: 80%;
}

.single .entry-content big {
  font-size: 125%;
}

.single .entry-content ul {
  list-style: disc;
  padding-left: 30px;
}

.single .entry-content ul li {
  line-height: 1.5;
}

.single .entry-content ul li ul {
  margin-bottom: 10px;
}

.single .entry-content ol {
  list-style: decimal;
  padding-left: 30px;
}

.single .entry-content ol li {
  line-height: 1.5;
}

.single .entry-content ol li ol {
  margin-bottom: 10px;
}

.single .entry-content dl {
  margin-bottom: 30px;
}

.single .entry-content dl dt {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.2;
}

.single .entry-content dl dd {
  padding-left: 1em;
  margin-bottom: 1em;
  line-height: 1.2;
}

.single .entry-content table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
  border-spacing: 0;
}

.single .entry-content table > thead > tr > th,
.single .entry-content table > thead > tr > td,
.single .entry-content table > tfoot > tr > th,
.single .entry-content table > tfoot > tr > td,
.single .entry-content table > tbody > tr > th,
.single .entry-content table > tbody > tr > td {
  border: 1px solid #e9e9e9;
  line-height: 1.5;
  padding: 5px;
  vertical-align: middle;
}

.single .entry-content table > thead > tr th,
.single .entry-content table > thead > tr td {
  border-bottom-width: 2px;
}

.single .entry-content table th {
  font-size: 1.4rem;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.single .entry-content fieldset {
  padding: 20px;
  border: 1px solid #e9e9e9;
}

.single .entry-content input[type="reset"],
.single .entry-content input[type="submit"] {
  cursor: pointer;
  background: #03c4eb;
  border: none;
  display: inline-block;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding: 15px 23px 15px 23px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  margin: 3px 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

.single .entry-content input[type="reset"]:hover,
.single .entry-content input[type="submit"]:hover {
  opacity: .8;
}

.single .entry-content input[type="reset"]:hover, .single .entry-content input[type="reset"]:focus,
.single .entry-content input[type="submit"]:hover,
.single .entry-content input[type="submit"]:focus {
  cursor: pointer;
}

.single .entry-content input[type="button"]:hover,
.single .entry-content input[type="button"]:focus,
.single .entry-content button:hover,
.single .entry-content button:focus {
  cursor: pointer;
}

.single .entry-content textarea {
  resize: vertical;
}

.single .entry-content select {
  max-width: 100%;
  overflow: auto;
  vertical-align: top;
  outline: none;
  border: 1px solid #e9e9e9;
  padding: 10px;
}

.single .entry-content textarea,
.single .entry-content input[type="date"],
.single .entry-content input[type="datetime"],
.single .entry-content input[type="datetime-local"],
.single .entry-content input[type="email"],
.single .entry-content input[type="month"],
.single .entry-content input[type="number"],
.single .entry-content input[type="password"],
.single .entry-content input[type="search"],
.single .entry-content input[type="tel"],
.single .entry-content input[type="text"],
.single .entry-content input[type="time"],
.single .entry-content input[type="url"],
.single .entry-content input[type="week"] {
  padding: 10px;
  max-width: 100%;
  border: 0px;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #f2f2f2;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
}

.single .entry-content textarea:focus,
.single .entry-content input[type="date"]:focus,
.single .entry-content input[type="datetime"]:focus,
.single .entry-content input[type="datetime-local"]:focus,
.single .entry-content input[type="email"]:focus,
.single .entry-content input[type="month"]:focus,
.single .entry-content input[type="number"]:focus,
.single .entry-content input[type="password"]:focus,
.single .entry-content input[type="search"]:focus,
.single .entry-content input[type="tel"]:focus,
.single .entry-content input[type="text"]:focus,
.single .entry-content input[type="time"]:focus,
.single .entry-content input[type="url"]:focus,
.single .entry-content input[type="week"]:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-color: #EBEBEB;
  border-bottom: 1px solid #fff !important;
  background: #e9e9e9;
}

.single .entry-content button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.single .entry-content input[type="radio"], .single .entry-content input[type="checkbox"] {
  margin: 0 10px;
}

.single .entry-footer .entry-meta {
  margin: 100px 0 50px;
}

.single .entry-footer .entry-meta .cat-links {
  display: inline-block;
  margin-right: 10px;
}

.list-item {
  background: #ffffff;
  margin: 0 0 50px;
}

.list-item:after {
  content: "";
  clear: both;
  display: block;
}

.list-item.sticky {
  padding: 30px;
  border: 5px solid #1e4663;
  background: white;
}

.entry-thumbnail {
  float: left;
  margin-right: 15px;
}

.entry-thumbnail a {
  display: inline-block;
}

.entry-thumbnail a img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.entry-meta {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .02em;
}

.entry-meta a:hover {
  color: #333333;
  text-decoration: underline;
}

.entry-title {
  margin: 7px 0;
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .02em;
}

.entry-title a {
  color: #333333;
}

.entry-title a:hover {
  opacity: .7;
}

.posted-on {
  font-size: 12px;
  margin-bottom: 14px;
}

.entry-excerpt p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.4;
  color: gray;
}

/* WordPress Navigation style
------------------------------*/
.navigation {
  margin: 30px 0;
}

.navigation .nav-links:after {
  content: "";
  clear: both;
  display: block;
}

.navigation .nav-links .nav-previous,
.navigation .nav-links .nav-next {
  width: 50%;
}

.navigation .nav-links .nav-previous a:hover,
.navigation .nav-links .nav-next a:hover {
  text-decoration: underline;
  color: #333333;
}

.navigation .nav-links .nav-previous {
  float: left;
}

.navigation .nav-links .nav-previous:before {
  font-family: fontawesome;
  content: "\f104";
  margin-right: 5px;
}

.navigation .nav-links .nav-next {
  float: right;
  text-align: right;
}

.navigation .nav-links .nav-next:after {
  font-family: fontawesome;
  content: "\f105";
  margin-left: 5px;
}

/* WordPress Pagination
------------------------------*/
.pagination .nav-links {
  text-align: center;
}

.pagination .nav-links .page-numbers {
  display: inline-block;
  padding: 7px 10px;
  background: #f7f7f7;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.pagination .nav-links .page-numbers:hover {
  background: #2a628a;
  text-decoration: none;
  color: white;
}

.pagination .nav-links .current {
  background: #1e4663;
  color: white;
}

.pagination .nav-links .prev,
.pagination .nav-links .next {
  background: none;
}

/* WordPress Page links style
------------------------------*/
.page-links {
  text-align: center;
}

.page-links-item {
  display: inline-block;
  font-size: 15px;
  padding: 5px 7px;
  border: 1px solid #e6e6e6;
}

a > .page-links-item {
  background: #b3b3b3;
  color: white;
}

/* WordPress caption style
------------------------------*/
.wp-caption {
  max-width: 100%;
  font-style: italic;
  line-height: 1.35;
  margin-bottom: 15px;
  margin-top: 5px;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  max-width: 100%;
}

.wp-caption .wp-caption-text {
  margin: 10px 0px;
}

.wp-caption-text,
.entry-thumbnail-caption,
.cycle-caption {
  font-style: italic;
  line-height: 1.35;
  font-size: 13px;
}

/* WordPress Gallery
------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/* Comments
------------------------------*/
#comments {
  padding-top: 30px;
  border-top: 1px solid #e9e9e9;
}

#comments .comments-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#comments .comment-list {
  list-style: none;
  padding-left: 0px;
}

#comments .comment-list .pingback {
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 0;
  margin: 0;
}

#comments .comment-list .pingback p {
  margin: 0px;
}

#comments .comment-list .pingback:last-child {
  margin-bottom: 40px;
}

#comments .comment-content {
  /*------------------------------
		Heading
	------------------------------*/
  /*------------------------------
		Base
	------------------------------*/
  /*
	ul,
	ol,
	dl,
	p,
	/*details,
	address,
	.vcard,
	figure,
	pre,
	fieldset,
	table,
	dt,
	dd,
	hr {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	*/
  /*------------------------------
		Content
	------------------------------*/
  /*------------------------------
		Table
	------------------------------*/
  /*------------------------------
		Form
	------------------------------*/
}

#comments .comment-content h1,
#comments .comment-content h2,
#comments .comment-content h3,
#comments .comment-content h4,
#comments .comment-content h5,
#comments .comment-content h6 {
  clear: both;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #333333;
  line-height: 1.3;
}

#comments .comment-content h1 a,
#comments .comment-content h2 a,
#comments .comment-content h3 a,
#comments .comment-content h4 a,
#comments .comment-content h5 a,
#comments .comment-content h6 a {
  color: #333333;
  text-decoration: none;
}

#comments .comment-content h1 {
  font-size: 3.0rem;
  font-size: 30px;
}

#comments .comment-content h2 {
  font-size: 2.4rem;
  font-size: 24px;
}

#comments .comment-content h3 {
  font-size: 2.0rem;
  font-size: 20px;
}

#comments .comment-content h4 {
  font-size: 1.8rem;
  font-size: 18px;
}

#comments .comment-content h5 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-size: 16px;
}

#comments .comment-content h6 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-size: 14px;
}

#comments .comment-content p {
  line-height: 1.7;
  margin-bottom: 2em;
}

#comments .comment-content img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

#comments .comment-content b,
#comments .comment-content strong {
  font-weight: bold;
}

#comments .comment-content blockquote {
  background: #f4f4f4;
  padding: 1rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#comments .comment-content blockquote p {
  font-size: 1.4rem;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
}

#comments .comment-content blockquote p:last-child {
  margin-bottom: 0;
}

#comments .comment-content blockquote cite {
  font-style: normal;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-size: 13px;
}

#comments .comment-content dfn,
#comments .comment-content cite,
#comments .comment-content em,
#comments .comment-content i {
  font-style: italic;
}

#comments .comment-content address {
  margin: 20px 0;
}

#comments .comment-content hr {
  border: 0;
  border-top: 1px solid #e9e9e9;
  height: 1px;
  margin-bottom: 20px;
}

#comments .comment-content tt,
#comments .comment-content kbd,
#comments .comment-content pre,
#comments .comment-content code,
#comments .comment-content samp,
#comments .comment-content var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  background-color: #e9e9e9;
  padding: 3px 7px;
  border-radius: 2px;
}

#comments .comment-content pre {
  background: #f4f4f4;
  font-family: "Courier 10 Pitch", Courier, monospace;
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  overflow: auto;
  line-height: 1.3;
}

#comments .comment-content details summary {
  font-weight: bold;
  margin-bottom: 20px;
}

#comments .comment-content details:focus {
  outline: none;
}

#comments .comment-content abbr,
#comments .comment-content acronym,
#comments .comment-content dfn {
  cursor: help;
  font-size: .95em;
  text-transform: uppercase;
  border-bottom: 1px dotted #e9e9e9;
  letter-spacing: 1px;
}

#comments .comment-content mark {
  background-color: #2375B0;
  text-decoration: none;
}

#comments .comment-content small {
  font-size: 80%;
}

#comments .comment-content big {
  font-size: 125%;
}

#comments .comment-content ul {
  list-style: disc;
  padding-left: 30px;
}

#comments .comment-content ul li {
  line-height: 1.5;
}

#comments .comment-content ul li ul {
  margin-bottom: 10px;
}

#comments .comment-content ol {
  list-style: decimal;
  padding-left: 30px;
}

#comments .comment-content ol li {
  line-height: 1.5;
}

#comments .comment-content ol li ol {
  margin-bottom: 10px;
}

#comments .comment-content dl {
  margin-bottom: 30px;
}

#comments .comment-content dl dt {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.2;
}

#comments .comment-content dl dd {
  padding-left: 1em;
  margin-bottom: 1em;
  line-height: 1.2;
}

#comments .comment-content table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
  border-spacing: 0;
}

#comments .comment-content table > thead > tr > th,
#comments .comment-content table > thead > tr > td,
#comments .comment-content table > tfoot > tr > th,
#comments .comment-content table > tfoot > tr > td,
#comments .comment-content table > tbody > tr > th,
#comments .comment-content table > tbody > tr > td {
  border: 1px solid #e9e9e9;
  line-height: 1.5;
  padding: 5px;
  vertical-align: middle;
}

#comments .comment-content table > thead > tr th,
#comments .comment-content table > thead > tr td {
  border-bottom-width: 2px;
}

#comments .comment-content table th {
  font-size: 1.4rem;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#comments .comment-content fieldset {
  padding: 20px;
  border: 1px solid #e9e9e9;
}

#comments .comment-content input[type="reset"],
#comments .comment-content input[type="submit"] {
  cursor: pointer;
  background: #03c4eb;
  border: none;
  display: inline-block;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding: 15px 23px 15px 23px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  margin: 3px 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

#comments .comment-content input[type="reset"]:hover,
#comments .comment-content input[type="submit"]:hover {
  opacity: .8;
}

#comments .comment-content input[type="reset"]:hover, #comments .comment-content input[type="reset"]:focus,
#comments .comment-content input[type="submit"]:hover,
#comments .comment-content input[type="submit"]:focus {
  cursor: pointer;
}

#comments .comment-content input[type="button"]:hover,
#comments .comment-content input[type="button"]:focus,
#comments .comment-content button:hover,
#comments .comment-content button:focus {
  cursor: pointer;
}

#comments .comment-content textarea {
  resize: vertical;
}

#comments .comment-content select {
  max-width: 100%;
  overflow: auto;
  vertical-align: top;
  outline: none;
  border: 1px solid #e9e9e9;
  padding: 10px;
}

#comments .comment-content textarea,
#comments .comment-content input[type="date"],
#comments .comment-content input[type="datetime"],
#comments .comment-content input[type="datetime-local"],
#comments .comment-content input[type="email"],
#comments .comment-content input[type="month"],
#comments .comment-content input[type="number"],
#comments .comment-content input[type="password"],
#comments .comment-content input[type="search"],
#comments .comment-content input[type="tel"],
#comments .comment-content input[type="text"],
#comments .comment-content input[type="time"],
#comments .comment-content input[type="url"],
#comments .comment-content input[type="week"] {
  padding: 10px;
  max-width: 100%;
  border: 0px;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #f2f2f2;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
}

#comments .comment-content textarea:focus,
#comments .comment-content input[type="date"]:focus,
#comments .comment-content input[type="datetime"]:focus,
#comments .comment-content input[type="datetime-local"]:focus,
#comments .comment-content input[type="email"]:focus,
#comments .comment-content input[type="month"]:focus,
#comments .comment-content input[type="number"]:focus,
#comments .comment-content input[type="password"]:focus,
#comments .comment-content input[type="search"]:focus,
#comments .comment-content input[type="tel"]:focus,
#comments .comment-content input[type="text"]:focus,
#comments .comment-content input[type="time"]:focus,
#comments .comment-content input[type="url"]:focus,
#comments .comment-content input[type="week"]:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-color: #EBEBEB;
  border-bottom: 1px solid #fff !important;
  background: #e9e9e9;
}

#comments .comment-content button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#comments .comment-content input[type="radio"], #comments .comment-content input[type="checkbox"] {
  margin: 0 10px;
}

#comments .bypostauthor {
  display: inline-block;
}

#comments .comment {
  list-style: none;
  margin: 30px 0;
}

#comments .comment .avatar {
  width: 60px;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#comments .comment .comment-wrapper {
  margin-left: 90px;
  padding: 25px 30px 15px 30px;
  background: #f8f9f9;
  position: relative;
}

#comments .comment .comment-wrapper:before {
  border-color: transparent #f6f7f9 transparent transparent;
  border-style: solid;
  border-width: 0 10px 10px 0;
  content: "";
  height: 0;
  left: -9px;
  position: absolute;
  top: 0;
  width: 0;
}

#comments .comment .comment-wrapper .comment-meta .comment-time,
#comments .comment .comment-wrapper .comment-meta .comment-reply-link,
#comments .comment .comment-wrapper .comment-meta .comment-edit-link {
  color: #aaaaaa;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 11px;
}

#comments .comment .comment-wrapper .comment-meta .comment-time:hover,
#comments .comment .comment-wrapper .comment-meta .comment-reply-link:hover,
#comments .comment .comment-wrapper .comment-meta .comment-edit-link:hover {
  color: #03c4eb;
}

#comments .comment .comment-wrapper .comment-meta .comment-time:after,
#comments .comment .comment-wrapper .comment-meta .comment-reply-link:after,
#comments .comment .comment-wrapper .comment-meta .comment-edit-link:after {
  content: "/";
  padding: 0px 5px;
}

#comments .comment .comment-wrapper .comment-meta a:last-child:after {
  content: "";
}

#comments .comment .comment-wrapper .comment-meta cite .fn {
  font-weight: bold;
  font-style: normal;
  margin-right: 5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 14px;
}

#comments .comment .comment-wrapper .comment-meta cite span {
  padding: 3px 10px;
  background: #e9e9e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 10px;
}

#comments .comment .comment-wrapper a {
  text-decoration: none;
}

#comments .comment .children {
  padding-left: 30px;
}

#comments .comment .children .children {
  padding-left: 30px;
}

#comments .comment .children .children .children {
  padding-left: 0px;
}

#comments .form-allowed-tags {
  display: none;
}

#comments a {
  text-decoration: none;
}

#comments a:hover {
  text-decoration: underline;
}

/* Comment form
------------------------------*/
#respond {
  padding-top: 20px;
}

#respond .comment-form label {
  display: block;
  margin-bottom: 4px;
}

#respond .form-allowed-tags {
  font-size: 12px;
}

#respond .form-allowed-tags code {
  background: none;
}

#respond .comment-reply-title {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#respond .comment-notes {
  display: none;
}

#respond label {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.full-screen .comments-area {
  max-width: 1110px;
  margin: 0 auto;
}

/*--------------------------------------------------------------
	6.0 Element
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	7.0 Widgets
--------------------------------------------------------------*/
.widget {
  background: white;
  padding: 15px;
  margin-bottom: 5em;
}

.widget-title {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 15px 0;
  font-weight: bold;
  color: #595959;
}

.widget select {
  border: 1px solid #cccccc;
  width: 100%;
  font-size: 12px;
  margin-bottom: 15px;
  color: #999999;
  outline: none;
  height: 40px;
  border: none;
}

.widget table {
  width: 100%;
  border: none;
}

.widget table caption,
.widget table thead,
.widget table tfoot,
.widget table tbody {
  line-height: 40px;
}

.widget table thead tr td,
.widget table thead tr th {
  border: none;
  border-bottom: 1px solid #e6e6e6;
}

.widget table tbody tr td {
  text-align: center;
  color: #999999;
  border: none;
}

.widget table tfoot tr td {
  border: none;
}

.widget table tfoot tr td#next {
  text-align: right;
}

.widget ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

.widget ul:after {
  content: "";
  clear: both;
  display: block;
}

.widget ul li {
  float: left;
  width: 48%;
  font-size: 13px;
  line-height: 3em;
  color: #999999;
  margin-right: 4%;
}

.widget ul li:nth-child(2n) {
  margin-right: 0;
}

.widget ul li a {
  color: #999999;
}

.widget ul li a:hover {
  text-decoration: underline;
}

.widget ul li ul {
  clear: both;
}

.widget ul li ul li {
  width: 100%;
  padding-left: .75em;
}

.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul {
  list-style: none;
  list-style-type: none;
}

.widget_pages ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li {
  float: none;
  width: 100%;
}

.widget_rss ul li {
  line-height: 1.5;
  margin-bottom: 2em;
}

.widget_rss ul li .rsswidget {
  display: block;
}

.widget_rss ul li .rss-date {
  display: block;
  margin-bottom: 7px;
}

.widget_rss ul li .rssSummary {
  margin-bottom: 7px;
}

.widget_rss ul li cite {
  font-style: italic;
}

.widget_search .search-field {
  position: relative;
  border: 1px solid #cccccc;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 5px;
  color: #999999;
  text-align: center;
}

.widget_search .search-submit {
  background: #2375B0;
  width: 100%;
  color: white;
  padding: 1em;
  font-size: 14px;
}

.widget_text .textwidget {
  /*------------------------------
		Heading
	------------------------------*/
  /*------------------------------
		Base
	------------------------------*/
  /*
	ul,
	ol,
	dl,
	p,
	/*details,
	address,
	.vcard,
	figure,
	pre,
	fieldset,
	table,
	dt,
	dd,
	hr {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	*/
  /*------------------------------
		Content
	------------------------------*/
  /*------------------------------
		Table
	------------------------------*/
  /*------------------------------
		Form
	------------------------------*/
}

.widget_text .textwidget h1,
.widget_text .textwidget h2,
.widget_text .textwidget h3,
.widget_text .textwidget h4,
.widget_text .textwidget h5,
.widget_text .textwidget h6 {
  clear: both;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #333333;
  line-height: 1.3;
}

.widget_text .textwidget h1 a,
.widget_text .textwidget h2 a,
.widget_text .textwidget h3 a,
.widget_text .textwidget h4 a,
.widget_text .textwidget h5 a,
.widget_text .textwidget h6 a {
  color: #333333;
  text-decoration: none;
}

.widget_text .textwidget h1 {
  font-size: 3.0rem;
  font-size: 30px;
}

.widget_text .textwidget h2 {
  font-size: 2.4rem;
  font-size: 24px;
}

.widget_text .textwidget h3 {
  font-size: 2.0rem;
  font-size: 20px;
}

.widget_text .textwidget h4 {
  font-size: 1.8rem;
  font-size: 18px;
}

.widget_text .textwidget h5 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-size: 16px;
}

.widget_text .textwidget h6 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-size: 14px;
}

.widget_text .textwidget p {
  line-height: 1.7;
  margin-bottom: 2em;
}

.widget_text .textwidget img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.widget_text .textwidget b,
.widget_text .textwidget strong {
  font-weight: bold;
}

.widget_text .textwidget blockquote {
  background: #f4f4f4;
  padding: 1rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.widget_text .textwidget blockquote p {
  font-size: 1.4rem;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
}

.widget_text .textwidget blockquote p:last-child {
  margin-bottom: 0;
}

.widget_text .textwidget blockquote cite {
  font-style: normal;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-size: 13px;
}

.widget_text .textwidget dfn,
.widget_text .textwidget cite,
.widget_text .textwidget em,
.widget_text .textwidget i {
  font-style: italic;
}

.widget_text .textwidget address {
  margin: 20px 0;
}

.widget_text .textwidget hr {
  border: 0;
  border-top: 1px solid #e9e9e9;
  height: 1px;
  margin-bottom: 20px;
}

.widget_text .textwidget tt,
.widget_text .textwidget kbd,
.widget_text .textwidget pre,
.widget_text .textwidget code,
.widget_text .textwidget samp,
.widget_text .textwidget var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  background-color: #e9e9e9;
  padding: 3px 7px;
  border-radius: 2px;
}

.widget_text .textwidget pre {
  background: #f4f4f4;
  font-family: "Courier 10 Pitch", Courier, monospace;
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  overflow: auto;
  line-height: 1.3;
}

.widget_text .textwidget details summary {
  font-weight: bold;
  margin-bottom: 20px;
}

.widget_text .textwidget details:focus {
  outline: none;
}

.widget_text .textwidget abbr,
.widget_text .textwidget acronym,
.widget_text .textwidget dfn {
  cursor: help;
  font-size: .95em;
  text-transform: uppercase;
  border-bottom: 1px dotted #e9e9e9;
  letter-spacing: 1px;
}

.widget_text .textwidget mark {
  background-color: #2375B0;
  text-decoration: none;
}

.widget_text .textwidget small {
  font-size: 80%;
}

.widget_text .textwidget big {
  font-size: 125%;
}

.widget_text .textwidget ul {
  list-style: disc;
  padding-left: 30px;
}

.widget_text .textwidget ul li {
  line-height: 1.5;
}

.widget_text .textwidget ul li ul {
  margin-bottom: 10px;
}

.widget_text .textwidget ol {
  list-style: decimal;
  padding-left: 30px;
}

.widget_text .textwidget ol li {
  line-height: 1.5;
}

.widget_text .textwidget ol li ol {
  margin-bottom: 10px;
}

.widget_text .textwidget dl {
  margin-bottom: 30px;
}

.widget_text .textwidget dl dt {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.2;
}

.widget_text .textwidget dl dd {
  padding-left: 1em;
  margin-bottom: 1em;
  line-height: 1.2;
}

.widget_text .textwidget table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
  border-spacing: 0;
}

.widget_text .textwidget table > thead > tr > th,
.widget_text .textwidget table > thead > tr > td,
.widget_text .textwidget table > tfoot > tr > th,
.widget_text .textwidget table > tfoot > tr > td,
.widget_text .textwidget table > tbody > tr > th,
.widget_text .textwidget table > tbody > tr > td {
  border: 1px solid #e9e9e9;
  line-height: 1.5;
  padding: 5px;
  vertical-align: middle;
}

.widget_text .textwidget table > thead > tr th,
.widget_text .textwidget table > thead > tr td {
  border-bottom-width: 2px;
}

.widget_text .textwidget table th {
  font-size: 1.4rem;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.widget_text .textwidget fieldset {
  padding: 20px;
  border: 1px solid #e9e9e9;
}

.widget_text .textwidget input[type="reset"],
.widget_text .textwidget input[type="submit"] {
  cursor: pointer;
  background: #03c4eb;
  border: none;
  display: inline-block;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding: 15px 23px 15px 23px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  margin: 3px 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

.widget_text .textwidget input[type="reset"]:hover,
.widget_text .textwidget input[type="submit"]:hover {
  opacity: .8;
}

.widget_text .textwidget input[type="reset"]:hover, .widget_text .textwidget input[type="reset"]:focus,
.widget_text .textwidget input[type="submit"]:hover,
.widget_text .textwidget input[type="submit"]:focus {
  cursor: pointer;
}

.widget_text .textwidget input[type="button"]:hover,
.widget_text .textwidget input[type="button"]:focus,
.widget_text .textwidget button:hover,
.widget_text .textwidget button:focus {
  cursor: pointer;
}

.widget_text .textwidget textarea {
  resize: vertical;
}

.widget_text .textwidget select {
  max-width: 100%;
  overflow: auto;
  vertical-align: top;
  outline: none;
  border: 1px solid #e9e9e9;
  padding: 10px;
}

.widget_text .textwidget textarea,
.widget_text .textwidget input[type="date"],
.widget_text .textwidget input[type="datetime"],
.widget_text .textwidget input[type="datetime-local"],
.widget_text .textwidget input[type="email"],
.widget_text .textwidget input[type="month"],
.widget_text .textwidget input[type="number"],
.widget_text .textwidget input[type="password"],
.widget_text .textwidget input[type="search"],
.widget_text .textwidget input[type="tel"],
.widget_text .textwidget input[type="text"],
.widget_text .textwidget input[type="time"],
.widget_text .textwidget input[type="url"],
.widget_text .textwidget input[type="week"] {
  padding: 10px;
  max-width: 100%;
  border: 0px;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #f2f2f2;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
}

.widget_text .textwidget textarea:focus,
.widget_text .textwidget input[type="date"]:focus,
.widget_text .textwidget input[type="datetime"]:focus,
.widget_text .textwidget input[type="datetime-local"]:focus,
.widget_text .textwidget input[type="email"]:focus,
.widget_text .textwidget input[type="month"]:focus,
.widget_text .textwidget input[type="number"]:focus,
.widget_text .textwidget input[type="password"]:focus,
.widget_text .textwidget input[type="search"]:focus,
.widget_text .textwidget input[type="tel"]:focus,
.widget_text .textwidget input[type="text"]:focus,
.widget_text .textwidget input[type="time"]:focus,
.widget_text .textwidget input[type="url"]:focus,
.widget_text .textwidget input[type="week"]:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-color: #EBEBEB;
  border-bottom: 1px solid #fff !important;
  background: #e9e9e9;
}

.widget_text .textwidget button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.widget_text .textwidget input[type="radio"], .widget_text .textwidget input[type="checkbox"] {
  margin: 0 10px;
}

/*--------------------------------------------------------------
	8.0 Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	9.0  External Plugins
--------------------------------------------------------------*/
/* Breadcrumbs
------------------------------*/
.oleinpress-breadcrumbs {
  background: #f7f7f7;
  line-height: 40px;
  font-size: 12px;
}

.oleinpress-breadcrumbs span {
  margin-right: 5px;
  margin-left: 5px;
}
