/*--------------------------------------------------------------
# #page .site
--------------------------------------------------------------*/
#page {
	
}

/*--------------------------------------------------------------
# common
--------------------------------------------------------------*/
::selection {
	background: $link-color;
	color: white;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	color: $text-color;
}

a {
	color: $link-color;
	text-decoration: none;
	outline: none;
}

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
.container {
	width: $large-page-width;
	margin: 0 auto;
	&_content {
		display: flex;
	}
}

/*--------------------------------------------------------------
# site header
--------------------------------------------------------------*/
.site-header {
	line-height: 75px;
	background: #ffffff;
	width: 100%;
	border-bottom: 1px solid lighten($text-color, 70%);
	@include clearfix();
	&__branding {
		float: left;
	}
	&__menu {
		
	}
}

.site-title {
	font-size: 26px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

.oleinpress-menu {
	ul {
		float: right;
	}
	li {
		float: left;
		display: inline-block;
		a {
			display: block;
			font-size: 13px;
			font-weight: bold;
			font-family: 'Montserrat', sans-serif;
			padding-right: 15px;
			padding-left: 15px;
			color: $text-color;
		}
	}
}

/*--------------------------------------------------------------
# breadcrumbs
--------------------------------------------------------------*/
.oleinpress-breadcrumbs {
	background: white;
	line-height: 50px;
	font-size: 12px;
	border-bottom: 1px solid lighten($text-color, 70%);
}

/*--------------------------------------------------------------
# site content
--------------------------------------------------------------*/
.site-content {
	background: #fafafa;
}

/*--------------------------------------------------------------
# primary | content area
--------------------------------------------------------------*/
.content-area {
	width: $large-content-width;
	padding-top: $bitween-sidebar-content-margin;
	padding-right: $bitween-sidebar-content-margin;
	padding-bottom: $bitween-sidebar-content-margin;
	margin-right: $bitween-sidebar-content-margin;
	border-right: 1px solid lighten($text-color, 70%);
}

.list-item {
	padding: 30px 30px 30px 0;
	border-bottom: 1px solid lighten($text-color, 70%);
	@include clearfix();
	&:first-child {
		padding-top: 0;
	}
	&-content {
		
	}
	&.sticky {
		padding: 30px;
		border: 5px solid $link-color;
		background: white;
	}
}
.entry-thumbnail {
	float: left;
	margin-right: 15px;
}
.entry-meta {
	font-size: 12px;
// 	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .02em;
	a {
		&:hover {
			color: $text-color;
			text-decoration: underline;
		}
	}
}
.entry-title {
	margin: 7px 0;
	font-size: 22px;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
// 	font-weight: bold;
	letter-spacing: .02em;
	a {
		color: $text-color;
		&:hover {
			opacity: .7;
		}
	}
}
.entry-excerpt {
	p {
		margin-bottom: 0;
		font-size: 14px;
		line-height: 1.4;
		color: lighten($text-color, 30%);
	}
}

/*--------------------------------------------------------------
# secondary | sidebar
--------------------------------------------------------------*/
.sidebar {
	width: $sidebar-width;
	padding-top: $bitween-sidebar-content-margin;
	padding-bottom: $bitween-sidebar-content-margin;
}

.widget {
	margin-bottom: 5em;
	&-title {
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		margin: 15px 0;
	}
	select {
		position: relative;
		border: 1px solid lighten($text-color, 60%);
		width: 100%;
		font-size: 14px;
		padding: 1em;
		margin-bottom: 15px;
		color: lighten($text-color, 40%);
	}
	table {
		width: 100%;
		caption,
		thead,
		tfoot,
		tbody {
			line-height: 40px;
		}
		tbody {
			tr {
				
			}
			td {
				text-align: center;
				color: lighten($text-color, 40%);
			}
		}
	}
	ul {
		@include clearfix();
		li {
			float: left;
			width: 48%;
			font-size: 13px;
			line-height: 3em;
			color: lighten($text-color, 40%);
			margin-right: 4%;
			&:nth-child(2n){
				margin-right: 0;
			}
			a {
				color: lighten($text-color, 40%);
				&:hover {
					text-decoration: underline;
				}
			}
			ul {
				clear: both;
				li {
					width: 100%;
					padding-left: .75em;
				}
			}
		}
	}
}

.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss {
	ul {
		li {
			float: none;
			width: 100%;
		}
	}
}

.widget_rss {
	ul {
		li {
			line-height: 1.5;
			margin-bottom: 2em;
			.rsswidget {
				display: block;
			}
			.rss-date {
				display: block;
				margin-bottom: 7px;
			}
			.rssSummary {
				margin-bottom: 7px;
			}
			cite {
				font-style: italic;
			}
		}
	}
}

.widget_search {
	.search-field {
		position: relative;
		border: 1px solid lighten($text-color, 60%);
		width: 100%;
		font-size: 14px;
		padding: 1em;
		margin-bottom: 15px;
		color: lighten($text-color, 40%);
		text-align: center;
	}
	.search-submit {
		background: $link-color;
		width: 100%;
		color: white;
		padding: 1em;
		font-size: 14px;
	}
}

.widget_text {
	.textwidget {
		@include content-styling();
	}
}

/*--------------------------------------------------------------
# single
--------------------------------------------------------------*/
.single {
	.post {
		margin-bottom: 50px;
		border-bottom: 1px solid lighten($text-color, 70%);
	}
	.entry-header {
	 padding-bottom: 30px;
	 margin-bottom: 30px;
	 border-bottom: 1px solid lighten($text-color, 70%);
	}
	.entry-title {
	 font-size: 26px;
	}
	.entry-thumbnail {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.entry-content {
		@include content-styling();
	}
	.entry-footer {
		.entry-meta {
			margin: 100px 0 50px;
			.cat-links {
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}
/*--------------------------------------------------------------
# post navigation
--------------------------------------------------------------*/
.navigation {
	margin: 30px 0;
	.nav-links {
		@include clearfix();
		.nav-previous,
		.nav-next {
			width: 50%;
			a {
				&:hover {
					text-decoration: underline;
					color: $text-color;
				}
			}
		}
		.nav-previous {
			float: left;
		}
		.nav-next {
			float: right;
			text-align: right;
		}
	}
}

/*--------------------------------------------------------------
# page links
--------------------------------------------------------------*/
.page-links {
	text-align: center;
	&-item {
		display: inline-block;
		font-size: 15px;
		padding: 5px 7px;
		border: 1px solid lighten($text-color, 70%);
		a > & {
			background: lighten($text-color, 50%);
			color: white;
		}
	}
}

/*--------------------------------------------------------------
# site footer
--------------------------------------------------------------*/
.site-footer {
	border-top: 1px solid lighten($text-color, 70%);
	.container {
		padding: 50px 0;
	}
	&-leftbox,
	&-rightbox {
		float: left;
		width: 30%;
	}
	&-leftbox {
		margin-left: 15%;
		margin-right: 5%;
	}
	&-rightbox {
		margin-left: 5%;
		margin-right: 15%;
	}
	.copyright {
		clear: both;
		border-top: 1px solid lighten($text-color, 70%);
		p {
			text-align: center;
			font-size: 12px;
			padding: 7px 0;
		}
	}
}